/* You can add global styles to this file, and also import other style files */
.navbar {
    margin: 0;
}

ngb-carousel,.carousel-inner{
  max-width: 530px;
}

.full-width {
  width: 100%;
}
.main {
  border-bottom: #333 1px solid;
  padding: 30px;
}

h1, h4 {
  color: white;
}

.artist-thumb {
  width: 80px;
  hight: auto;
  flost: left;
  margin-right: 10px;
}



.artist-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: #333 1px solid;
}

.artist-albums .well{
  margin-bottom: 20px;
  overflow: auto;
  min-height: 400px;
}

.album {
  text-align: center;
  background: #333;
  padding: 10px 20px;
  border: #666 1px solid
}

.album-thumb {
  width: 100%;
}